useDynLib("FLAssess", .registration = TRUE)
import("FLCore")
import("methods")
importFrom("lattice", "panel.superpose.2")
importFrom("stats", "dnorm")
exportClasses("FLAssess",
  "FLSepVPA.control",
  "FLVPA")
export("assess",
  "FLSepVPA.control")
exportMethods(
  "+",
  "assess",
  "harvest",
  "fitted",
  "index.hat",
  "index.hat<-",
  "index.name",
  "index.name<-",
  "index.range",
  "index.range<-",
  "index.res",
  "index.res<-",
  "merge",
  "plot",
  "SepVPA",
  "summary",
  "VPA",
  "FLAssess",
  "fmle",
  "Z")
